
body, html {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: black;
  color: white;
}

.c-min-width {
  min-width: 366px;
}
